<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trang danh sách dịch vụ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
<header th:insert="/views/css/header.html :: header"></header>
<div class="col-lg-12" style="text-align: center;background-color: lightyellow"><h1 style="margin: 0">Danh Sách
    Dịch Vụ</h1></div>
<a th:href="@{/facility/showCreateFacility}"><button class="btn btn-primary">Thêm mới</button></a>
<h1 th:text="${mess}"></h1>


<div class="col-lg-12">
    <table class="table table-dark table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên Dịch Vụ</th>
            <th scope="col">Diện Tích</th>
            <th scope="col">Giá</th>
            <th scope="col">Số Người Tối Đa</th>
            <th scope="col">Kiểu Thuê</th>
            <th scope="col">Tên Dịch Vụ</th>
            <th scope="col">Tiêu Chuẩn Phòng</th>
            <th scope="col">Mô Tả Tiện Ích Khác</th>
            <th scope="col">Diện Tích Hồ Bơi</th>
            <th scope="col">Số Tầng</th>
            <th scope="col">Dịch Vụ Miễn Phí</th>
            <th scope="col">Chức Năng</th>
            <th scope="col">Chức Năng</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="facPage, status :${facilityPage}">
            <td th:text="${status.count}"></td>
            <td th:text="${facPage.name}"></td>
            <td th:text="${facPage.area}"></td>
            <td th:text="${facPage.cost}"></td>
            <td th:text="${facPage.maxPeople}"></td>
            <td th:text="${facPage.RentType.name}"></td>
            <td th:text="${facPage.FacilityType.name}"></td>
            <td th:text="${facPage.standardRoom}"></td>
            <td th:text="${facPage.descriptionOtherConvenience}"></td>
            <td th:text="${facPage.poolArea}"></td>
            <td th:text="${facPage.numberOfFloors}"></td>
            <td th:text="${facPage.facilityFree}"></td>

            <td>
                <a th:href="@{/facility/showUpdateFacility/__${facPage.id}__}">
                    <button class=" btn btn-primary">Sửa</button>
                </a>
            </td>
            <td><!-- Button trigger modal -->
                <button type="button" onclick="idRemove('${facPage.getId()}','${facPage.getName()}')"
                        class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#exampleRemove">
                    Xoá
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:insert="/views/css/footer.html :: footer"></footer>
</body>
</html>