<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trang danh sách hợp đồng</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

</head>
<body>
<header th:insert="/views/css/header.html :: header"></header>
<div class="col-lg-12" style="text-align: center;background-color: lightyellow"><h1 style="margin: 0">Danh Sách Hợp
    Đồng</h1></div>
<div>
    <button type="button" class="btn btn-success" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">
        Tạo hợp đồng
    </button>
</div>
<div>
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Dịch Vụ</th>
            <th scope="col">Khách Hàng</th>
            <th scope="col">Ngày Làm Hợp Đồng</th>
            <th scope="col">Ngày Kết Thức</th>
            <th scope="col">Tiền Đặt Cọc</th>
            <th scope="col">Tổng Tiền</th>
            <th colspan="3" style="text-align: center">Các Dịch Vụ Đi Kèm</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contractDto,status:${contractDtoList}">
            <th scope="row" th:text="${status.count}">1</th>
            <td th:text="${contractDto.getFacilityName()}">Room Twin01</td>
            <td th:text="${contractDto.getCustomerName()}">Nguyễn Thị Hảo</td>
            <td th:text="${contractDto.getStartDate()}"></td>
            <td th:text="${contractDto.getEndDate()}"></td>
            <td th:text="${contractDto.getDeposit()}">0</td>
            <td th:text="${contractDto.getSumMoney()}">1000000</td>
            <td>
                <!--                Button trigger modal-->
                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#staticBackdropDetail2"
                        th:onclick="|getInfo('${contractDto.getId()}','${contractDto.getSumMoney()}')|">
                    +
                </button>
            </td>
            <td>
                <!-- Danh Sách Các Dịch Vụ Đi Kèm(màu xanh xanh)-->

                <a th:onclick="|getAttach('${contractDto.getId()}')|">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModalView">
                        Danh sách dịch vụ đi kèm
                    </button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <!--    Phân trang-->
    <!--    <a th:href="@{/contract/list(page=${contractPage.number - 1})}"-->
    <!--       th:if="${contractPage.hasPrevious()}">-->
    <!--        <button class="btn btn-primary">Back</button>-->
    <!--    </a>-->
    <!--    <span th:text="${contractPage.number + 1 + '/' + contractPage.totalPages}"></span>-->
    <!--    <a th:href="@{/contract/list(page=${contractPage.number + 1})}" th:if="${contractPage.hasNext()}">-->
    <!--        <button class="btn btn-primary">Next</button>-->
    <!--    </a>-->
</div>


<!-- Modal thêm mới(Tạo Hợp Đồng) -->
<div class="modal fade staticBackdrop" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/contract/create}" th:object="${contractDto}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title text-black" id="staticBackdropLabel">Yêu Cầu Thêm Mới Hợp
                        Đồng</h5>
                    <!--                                    Nút X-->
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <!--                                Các input thêm mới Hợp Đồng-->
                <div class="modal-body col-lg-12">
                    <div class="input-group flex-nowrap row">
                        <div class="col-lg-4 text-black">Ngày Bắt Đầu:</div>
                        <div class="col-lg-8"><input type="date" class="form-control"
                                                     aria-describedby="addon-wrapping" th:field="*{startDate}">
                            <p style="color: red" th:errors="*{startDate}"></p>
                        </div>
                    </div>
                    <div class="input-group flex-nowrap row" style="margin-top: 25px">
                        <div class="col-lg-4 text-black">Kết Thúc:</div>
                        <div class="col-lg-8"><input type="date" class="form-control"
                                                     aria-describedby="addon-wrapping" th:field="*{endDate}">
                            <p style="color: red" th:errors="*{endDate}"></p>
                        </div>
                    </div>
                    <div class="input-group flex-nowrap row" style="margin-top: 25px">
                        <div class="col-lg-4 text-black">Tiền Gửi:</div>
                        <div class="col-lg-8"><input type="text" class="form-control"
                                                     aria-describedby="addon-wrapping" th:field="*{deposit}">
                            <p style="color: red" th:errors="*{deposit}"></p></div>
                    </div>
                    <div class="input-group flex-nowrap row" style="margin-top: 25px">
                        <div class="col-lg-4 text-black">Tổng Tiền:</div>
                        <div class="col-lg-8"><input type="text" class="form-control"
                                                     aria-describedby="addon-wrapping" readonly>
                        </div>
                    </div>
                    <div class="input-group flex-nowrap row" style="margin-top: 25px">
                        <div class="col-lg-4 text-black">Khách Hàng Thuê Dịch Vụ:</div>
                        <div class="col-lg-8"><select th:field="*{customer}" class="form-select">
                            <option th:each="cusList :${customerList}" th:text="${cusList.name}"
                                    th:value="${cusList.id}"></option>
                        </select></div>
                    </div>
                    <div class="input-group flex-nowrap row" style="margin-top: 25px">
                        <div class="col-lg-4 text-black">Nhân Viên Thuê Dịch Vụ:</div>
                        <div class="col-lg-8"><select th:field="*{employee}" class="form-select">
                            <option th:each="emList :${employeeList}" th:text="${emList.name}"
                                    th:value="${emList.id}"></option>
                        </select></div>
                    </div>
                    <div class="input-group flex-nowrap row" style="margin-top: 25px">
                        <div class="col-lg-4 text-black">Dịch Vụ:</div>
                        <div class="col-lg-8"><select th:field="*{facility}" class="form-select">
                            <option th:each="facList :${facilityList}" th:text="${facList.name}"
                                    th:value="${facList.id}"></option>
                        </select></div>
                    </div>
                </div>
                <!--                                Các Nút Xác Nhận input Thêm Hợp đồng-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                    <button type="submit" class="btn btn-primary">Thêm Mới</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--modal thêm mới dịch vụ đi kèm(+)-->
<div class="modal fade staticBackdrop" id="staticBackdropDetail2" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropDetail" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/contract/createContractDetail}" th:object="${contractDetail}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title text-black" id="staticBackdropDetail">Yêu cầu thêm mới dịch vụ đi
                        kèm</h5>
                    <!--                                    Nút X-->
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    <!--                    lấy id contract-->
                    <input type="text" id="idContract" hidden th:field="*{contract}">
                </div>
                <!--      Các input thêm mới dịch vụ đi kèm-->
                <div class="modal-body col-lg-12">
                    <div class="input-group flex-nowrap row">
                        <div class="col-lg-4 text-black">Tên dịch vụ:</div>
                        <div class="col-lg-8">
                            <select th:field="*{attachFacility}">
                                <option th:each="attach:${attachFacilityList}" th:text="${attach.name}"
                                        th:value="${attach.id}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group flex-nowrap row" style="margin-top: 25px">
                        <div class="col-lg-4 text-black">Số lượng:</div>
                        <div class="col-lg-8"><input type="number" class="form-control"
                                                     aria-describedby="addon-wrapping" th:field="*{quantity}">
                        </div>
                    </div>
                    <div class="input-group flex-nowrap row" style="margin-top: 25px">
                        <div class="col-lg-4 text-black">Tổng tiền:</div>
                        <div class="col-lg-8"><input type="text" class="form-control"
                                                     aria-describedby="addon-wrapping" readonly id="sumMoneyContract">
                        </div>
                    </div>
                </div>

                <!--                                 Nút Xác Nhận input Thêm Hợp đồng-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                    <button type="submit" class="btn btn-primary">Thêm Mới</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--Modal xem dịch vụ đi kèm-->
<div class="modal fade" id="exampleModalView" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Danh sách dịch vụ đi kèm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-dark table-striped">
                    <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên dịch vụ</th>
                        <th scope="col">Giá</th>
                        <th scope="col">Đơn vị</th>
                        <th scope="col">Trạng thái</th>
                    </tr>
                    </thead>
                    <tbody id="myBody">
                    <!--                    <tr th:each="attach,status:${attachFacilities}">-->
                    <!--                        <th scope="row" th:text="${status.count}">1</th>-->
                    <!--                        <td th:text="${attach.cost}"></td>-->
                    <!--                        <td th:text="${attach.name}"></td>-->
                    <!--                        <td th:text="${attach.status}"></td>-->
                    <!--                        <td th:text="${attach.unit}"></td>-->
                    <!--                    </tr>-->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!--                <button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>
<footer th:insert="/views/css/footer.html :: footer"></footer>
<input id="flag"  th:value="${flag}" type="hidden"/>
<script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
<script>
    function getInfo(id, sumMoney) {
        <!--lấy id contract để xoá-->

        document.getElementById("idContract").value = id;
        document.getElementById("nameContract").innerHTML = id;
        document.getElementById("sumMoneyContract").innerHTML = sumMoney;
    }

    // debugger
    let flagOpen = document.getElementById("flag").value;

    console.log(flagOpen);
    $(document).ready(function () {
        if ($('#flag').val() === 'true') {
            $('#staticBackdrop').modal('show');
        }
    })
    //       $(document).ready({
    //           if (flagOpen == 'true') {
    //           $('#staticBackdrop').modal('show');
    // }})


    function getAttach(id) {
        // debugger
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: 'GET',
            data: 'JSON',
            url: '/attach/showAttch/' + id,
            success: function (data) {
                let table = '';// lưu trữ table
                for (let i = 0; i < data.length; i++) {
                    table +=
                        `
                        <tr>
                            <th scope="row">${i + 1}</th>
                            <td>${data[i].name}</td>
                            <td>${data[i].cost}</td>
                            <td>${data[i].unit}</td>
                            <td>${data[i].status}</td>
                        </tr>
                        `
                }
                $('#myBody').empty();//dữ liệu trên modal ko bị lặp khi click lần 2
                $('#myBody').append(table)
            }
        });
    }
</script>





</body>
</html>